.navbar{

background-color: var(--header-color)!important;
padding-left: 5rem!important;
padding-right: 5rem!important;

}

:root{
--header-color: #C2EFD4!important;

}

.items{

padding-left: 25rem!important;

}

header-div{
background-color: var(--header-color)!important;
 height: 600px!important; 


}

.pic1{
    border-top-left-radius: 141px !important;
    border-top-right-radius: 45px !important;
    border-bottom-left-radius: 82px !important;
    border-bottom-right-radius: 150px !important;
}

.image-container {
    width: 300px;  /* New expanded width */
    height: 300px; /* New expanded height */
    overflow: hidden; /* Ensure the image stays cropped */
    position: relative;
}


.img-fluid{

width:700px !important;
height:auto !important;


}


